.projects {
    background-color: #f9f9f9;
    padding: 15rem 0;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.projects_content {
    display: flex;
    flex-direction: column;
}

.projects_content p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.projects_content h3 {
    color: #2d2e32;
    font-size: 2.5rem;
    margin-bottom: 6rem;
}

.projects_grid {
    grid-gap: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
}

@media (max-width: 1020px){
.projects {
    padding: 8rem 0;
}
}

@media (max-width: 600px) {
    .projects_content{
        text-align: center;
    }
  }

@media (max-width: 460px){
    .container {
        padding: 0 1.7rem;
    }
}