.project_container{
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    gap: 8rem;
    height: 40rem;
    padding: 2rem;
}

.project_img{
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    height: auto;
    overflow: hidden;
    width: 53rem;
}

.project_img img{
    height: auto;
    width: 100%;
    transform: translateY(0%);
    transition: transform 10s ease-in-out 0s
}

.project_img img:hover{
    transform: translateY(-73%);
}

.project_text{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

.project_text h3{
    align-items: center;
    color: #2d2e32;
    display: flex;
    font-size: 1.7rem;
    gap: 0.2rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
}

.project_text p{
    color: #767676;
    font-size: 1.7rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.links{
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 3rem;
    align-items: center;
    display: flex;
}

.links a{
    color: #2d2e32;
    font-size: 1.7rem;
    font-weight: 500;
    gap: 5px;
    text-decoration: none;
    align-items: center;
    display: flex;
}

.reversed{
    flex-direction: row-reverse!important;
}