.about {
    background-color: #fff;
    padding: 15rem 0;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.about_content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.img_side {
    position: relative;
}

.work_emoji {
    bottom: 35px;
    position: absolute;
    right: 98px;
    width: 6rem!important;
    z-index: 10;
}

.img_side_main_img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.img_side span {
    background-color: #fff;
    border-radius: 50%;
    bottom: -33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
}

.img_side span img {
    animation: rotate 9s linear infinite;
    width: 19rem;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.text_side {
    padding-right: 1.5rem;
}

.text_side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text_side h4 {
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.text_side p {
    color: #767676;
    font-family: 'Mulish', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 1020px) {
    .about{
        padding: 8rem 0;
    }

    .about_content{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .text_side{
        max-width: 54rem;
        margin: 0 auto;
    }

    .img_side span{
        width: 17rem;
        height: 17rem;
        bottom: -3px;
        right: 190px;
    }

    .img_side span img{
        width: 17rem;
    }

    .img_side_main_img{
        margin-bottom: 3.5rem;
    }

    .work_emoji{
        bottom: 25px;
        right: 245px;
    }
  }

@media (max-width: 880px) {
    .img_side span{
        bottom: -3px;
        right: 100px;
    }

    .work_emoji{
        bottom: 57px;
        right: 156px;
    }
}

@media (max-width: 750px) {
    .img_side span{
        display: none;
    }

    .work_emoji{
        display: none;
    }
  }

@media (max-width: 460px) {
    .img_side_main_img{
        width: 90%;
        height: auto;
    }
}

@media (max-width: 400px) {
    .text_side{
        padding-right: 0;
    }
}