.contact {
    background-color: #fff;
    padding: 11rem 0;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.contact_content {
    display: flex;
    flex-direction: column;
}

.contact_title p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact_title h3 {
    color: #2d2e32;
    font-size: 2.5rem;
}

.contact_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}

.contact_icon_box {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contact_icon_box span {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #147efb;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact_info h3 {
    color: #2d2e32;
    font-size: 1.7rem;
}

.contact_info p {
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.contact_info a {
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

@media (max-width: 1020px) {
    .contact{
        padding: 8rem 0;
    }
  }

@media (max-width: 750px) {
    .contact_title{
        text-align: center;
    }

    .contact_icons{
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        text-align: center;
    }

    .contact_icon_box{
        flex-direction: column;
    }
  }