.header{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    padding: 25px 40px 25px 50px;
    position: fixed;
    max-width: 1920px;
    width: 100%;
    z-index: 200;
}

.logo a{
    color: #2d2e32;
    text-decoration: none;
    cursor: pointer;
}

.header ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header li a{
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s;
}

.header li a:hover{
    color: #147efb;
}

.mobile_menu {
    cursor: pointer;
    display: none;
    font-size: 2.3rem;
}

.mobile_menu:hover{
    color: #2d2e32;
    transition: all 0.3s;
}

.mobile_nav {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}

.closed_menu {
    left: -100%!important;
}

.open_menu {
    left: 0!important;
}

.mobile_nav span {
    cursor: pointer;
    font-size: 3.3rem;
    position: absolute;
    right: 4rem;
    top: 2rem;
}

.mobile_nav ul {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    gap: 4rem;
    list-style: none;
}

.mobile_nav ul a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 900px) {
    .mobile_menu{
        display: flex;
    }

    .header ul a{
        display: none;
    }
  }

@media (max-width: 400px){
    .header{
        padding: 25px 30px;
    }
}