.header{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    padding: 25px 40px 25px 50px;
    /* position: fixed; */
    max-width: 1920px;
    width: 100%;
    /* z-index: 200; */
}

.logo a{
    color: #2d2e32;
    text-decoration: none;
    cursor: pointer;
}

.header ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header li a{
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s;
}

.header li a:hover{
    color: rgb(44, 140, 243)
}